#content {
    background-color: #ffffff;
}

.content {
    font-family: ProximaNovaRegular, sans-serif;
}

.content strong {
    font-family: "Proxima Nova", sans-serif;
}

.content h2 {
    font-family: YanoneKaffeesatzRegular, sans-serif;
}

.form-promo {
    max-width: 400px;
    margin: 0 auto;
    background: #ededed;
    color: #000000;
    text-transform: uppercase;
}

.border-bottom {
    padding-bottom: 10px;
    width: 100px;
    margin: 0 auto;
    border-bottom: 3px solid #000000;
}

.rectangle {
    font-family: ProximaNovaLight, sans-serif;
    padding: 30px 0 20px;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ff6600;
}

.product-body .favorite.active {
    color: #ff0000;
}

.product-body .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
}

.no-padding {
    padding: 0;
}

.promo-right > img {
    min-height: 236px;
}

.rectangle > img {
    margin: 0 auto;
    padding: 10px 0 20px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-left: 0 !important;
    opacity: 0;
}

input[type="checkbox"].custom-checkbox + label {
    padding: 0 0 5px 25px;
    display: inline-block;
    background: url(../images/checkbox.png) left top no-repeat;
}

input[type="radio"].custom-checkbox + label {
    padding: 0 0 5px 25px;
    margin-left: -15px;
    display: inline-block;
    background: url(../images/checkbox.png) left top no-repeat;
}

input[type="checkbox"].custom-checkbox:checked + label,
input[type="radio"].custom-checkbox:checked + label {
    color: #ff0000;
    background: url(../images/checkbox-active.png) left top no-repeat;
}

.input-group-addon {
    margin-left: -1px;
}

#product-related {
    background-color: #ffffff;
}

.container-body {
    max-width: 100%;
}

.btn-cari, .btn-cari:hover, .btn-cari:focus {
    background-color: #fd6702;
    color: #ffffff;
    border: 1px solid #fd6702;
}

.container-product {
    margin: 0;
}

.text-orange, .text-orange:hover, .text-orange:focus {
    color: #ff6600;
    text-decoration: none;
}

.container-body > .content {
    padding-top: 30px;
}

@media screen and (max-width: 767px) {
    .input-group-addon {
        padding: 7px;
    }
}