#content {
    background-color: #ffffff;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.media-body > .media-heading {
    font-family: 'YanoneKaffeesatzRegular', sans-serif;
    line-height: 61px;
}

.media > .media-footer {
    font-family: ProximaNovaRegular, sans-serif;
    margin-top: 15px;
}

.media > .media-social {
    margin-top: 30px;
}

.owl-theme .owl-controls {
    margin-top: -165px;
}

.owl-promo {
    margin-top: 30px;
}

.owl-prev {
    background: transparent !important;
    position: absolute;
    color: #737373 !important;
    top: 0;
    right: 30px;
}

.owl-next {
    background: transparent !important;
    position: absolute;
    color: #737373 !important;
    top: 0;
    right: 0;
}

.padding-top {
    margin-top: 125px;
    font-family: ProximaNovaRegular, sans-serif;
}

.padding-top h3 {
    font-family: ProximaNovaSemibold, sans-serif;
}

.no-padding {
    padding: 0;
}

.border-form {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 15px;
}

.description {
    padding: 15px 15px 0;
}

ul.minus {
    padding-left: 20px;
}

.nav-tabs {
    border: none;
    margin: 0 auto;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #ffffff;
    cursor: default;
    background-color: #fd6702;
    border: 2px solid #fd6702;
    border-bottom-color: transparent;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover {
    border: 2px solid;
    border-color: #fd6702;
    text-decoration: none;
    background-color: transparent;
    color: #fd6702;
    padding: 5px 20px;
}

.nav-tabs > li:first-child > a {
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.nav-tabs > li:last-child > a {
    border-top-left-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: -2px;
}

.tab-content {
    padding-top: 10px;
}

.tab-content p {
    margin: 0;
}

.text-orange, .text-orange:hover {
    color: #fd6702;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 20% 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    left: 0;
}

div.image:hover > .overlay {
    display: block;
}

.overlay > a, .overlay > a:hover {
    text-decoration: none;
    color: #ffffff;
}

.overlay-promo {
    padding: 40px;
    display: block;
    position: absolute;
    top: 0;
    height: 50px;
    margin: 20px;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 5px;
    left: 0;
}

.overlay-promo > p {
    margin: -20px -10px 0;
    padding: 0;
}

.box:hover > .overlay-promo {
    display: none;
}

.fs-12 {
    font-size: 12px;
}

.panel {
    border: 1px solid #ccc;
    border-radius: 15px;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.panel-heading {
    background-color: #ebebeb;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.panel-body {
    padding: 0;
    min-height: 300px;
}

.panel-body > .list {
    background-color: #007aff;
    color: #ffffff;
    padding: 15px;
}

.panel-footer {
    background-color: #ffffff;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-footer {
    text-align: center;
    width: 90%;
}

p.no-promo {
    font-size: 18px;
    font-family: ProximaNovaRegular, sans-serif;
}
