.container-body {
    max-width: 100%;
}

.btn-cari, .btn-cari:hover, .btn-cari:focus {
    background-color: #fd6702;
    color: #ffffff;
    border: 1px solid #fd6702;
}

#product-related {
    background-color: #ebebeb;
}

hr {
    border-top: 1px solid #ccc;
}

.p-small {
    padding: 3px;
}

.thumb {
    padding: 0 0 6px 0;
}

hr.full {
    margin: 15px -20px;
}

.container-product {
    margin: 0;
}

.text-orange, .text-orange:hover, .text-orange:focus {
    color: #ff6600;
    text-decoration: none;
}

.container-body > .content {
    padding-top: 30px;
}

.container-body > .content .box {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px 20px 15px;
}

.box i {
    color: #cccccc;
}

i.active {
    color: #ff0000;
}

.box > img {
    margin: 0 auto;
}

.box .toko-name {
    text-align: center;
    padding: 10px 0;
}

.box-bottom {
    padding-top: 10px;
}

.box-bottom label > span {
    vertical-align: super;
}

.box {
    font-family: AvenirRoman, sans-serif;
}

.box > h4 {
    font-size: 22px;
}

.box > .price {
    color: #fd6702;
}

.box-bottom i {
    font-size: 30px;
}

.product-body .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-body .favorite.active {
    color: #ff0000;
}

input[type="checkbox"],
input[type="radio"] {
    margin-left: 0 !important;
    opacity: 0;
}

input[type="checkbox"].custom-checkbox + label {
    padding: 0 0 5px 25px;
    display: inline-block;
    background: url(../images/checkbox.png) left top no-repeat;
}

input[type="radio"].custom-checkbox + label {
    padding: 0 0 5px 25px;
    margin-left: -15px;
    display: inline-block;
    background: url(../images/checkbox.png) left top no-repeat;
}

input[type="checkbox"].custom-checkbox:checked + label,
input[type="radio"].custom-checkbox:checked + label {
    color: #ff0000;
    background: url(../images/checkbox-active.png) left top no-repeat;
}

.input-group-addon {
    margin-left: -1px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .box {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .box {
        margin-bottom: 15px;
    }

    .input-group-addon {
        padding: 7px;
    }

    .input-group-addon > h4 {
        font-size: 14px;
    }

    .product > .product-header > img {
        height: auto;
    }

    .product-body > .background-name {
        top: 55%;
    }

    .product {
        min-height: auto;
    }

    .product-body > label.discount,
    .product-body > label.new {
        padding: 7px;
        font-size: 16px;
    }

    .thumb {
        display: table-cell;
        padding: 3px;
    }
}
