#content {
    background-color: #fff;
    padding-top: 20px;
}

.navbar-home-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-nav > li > label {
    padding-top: 9px;
}

.navbar-default .navbar-nav > li > a {
    color: #337ab7;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 12px;
}

.list-group-item {
    font-family: AvenirRoman, sans-serif;
    text-transform: uppercase;
    /*font-size: 13px;*/
}

.list-group-item > h3 {
    font-family: NunitoRegular, sans-serif;
    text-transform: none;
}

.list-group-item > i {
    color: #ff6600;
    text-align: center;
    display: inline-block;
    width: 30px !important;
    font-size: 20px;
}

.list-group-item > span {
    vertical-align: super;
    font-size: 13px;
}

.category-style {
    font-family: NunitoRegular, sans-serif;
    position: absolute;
    right: 15px;
    top: 17px;
    text-transform: none;
}

.category-style > .count {
    font-size: 12px;
    line-height: 1;
    display: block;
    color: #ff6600;
}

.category-style > .count.first {
    font-size: 24px;
}

.item-banner {
    margin: 0 0 25px 0;
}

#promo {
    margin: 30px 0 100px;
    padding-bottom: 100px;
}

.title-product {
    background: url("../images/homepage/garis.png") repeat-x center;
}

.title-product > .text {
    font-family: NunitoLight, sans-serif;
    color: #fd6702;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
}

.title-product > .text > h3 {
    margin-bottom: 0;
    font-family: NunitoRegular, sans-serif;
}

#brand {
    margin: 30px 0;
}

.p15 {
    padding-left: 15px;
    padding-right: 15px;
}

.big, .small {
    padding: 0 !important;
    display: inline-block;
}

.big > .box {
    height: 299px;
}

.small > .box {
    height: 150px;
    margin-bottom: -1px !important;
}

#brand .title-product > .text {
    margin-bottom: 25px;
}

#brand .owl-controls {
    margin-top: -80px;
}

.brand-bottom {
    margin-top: 79px;
}

.brand-bottom .box {
    border: 1px solid #d7d7d7;
    text-align: -webkit-center;
    padding: 20px 15px;
    margin: 0 -1px 0 0;
}

.brand-bottom .box > .badge {
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007aff;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.owl-brand > .owl-stage-outer {
    border: 1px solid #d7d7d7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.owl-murah {
    margin-top: 25px;
}

#promo .owl-controls {
    margin-top: -175px;
}

#product {
    margin: 30px 0 100px;
    padding-bottom: 170px;
}

#product .box {
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    background-color: #ffffff;
}

#product .product-content {
    position: absolute;
    width: 100%;
    top: 20px;
    padding: 0 15px;
    font-family: 'NunitoLight', sans-serif;
    line-height: 10px;
}

#product .product-content > p.price {
    font-family: 'NunitoBold', sans-serif;
    color: #fd6702;
    font-size: 15px;
}

#product img.logo-dummy {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 55px;
}

#product .owl-controls {
    margin-top: -247px;
}

#slider-marketing {
    margin: 90px 0 0;
    min-height: 300px;
    background: url("../images/homepage/bg-garis.png");
}

.owl-prev, .owl-next {
    background-color: #f05510 !important;
}

.owl-prev {
    border-radius: 10px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    position: absolute;
    left: -5px;
}

.owl-next {
    border-radius: 10px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    position: absolute;
    right: -5px;
}

.arrow-me, .arrow-me:hover {
    width: 13px;
    margin: 0 10px;
    background-color: #f05510;
}

#bg_blog {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: relative;
    max-width: 850px;
    margin: 0 auto;
    top: -75px;
}

.carousel-indicators {
    background-color: #fd6702;
    background-size: cover;
    display: block;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 436px;
    max-height: 436px;
    top: 0;
    width: 90px;
    left: 119.4%;
    padding: 5% 0;
}

.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    background-size: cover;
    border-radius: 50%;
}

.carousel-indicators .active {
    width: 48px;
    height: 48px;
    border: 3px solid #ffffff;
    margin: 10px;
    background-size: cover;
}

/*#bg_blog .carousel-indicators {*/
/*-webkit-border-top-right-radius: 15px;*/
/*-webkit-border-bottom-right-radius: 15px;*/
/*-moz-border-radius-topright: 15px;*/
/*-moz-border-radius-bottomright: 15px;*/
/*border-top-right-radius: 15px;*/
/*border-bottom-right-radius: 15px;*/
/*height: 436px;*/
/*max-height: 436px;*/
/*background-color: #fd6702;*/
/*margin-left: 0;*/
/*width: 70px;*/
/*padding: 70px 25px 0;*/
/*left: 92%;*/
/*bottom: 0;*/
/*color: white;*/
/*top: 0;*/
/*}*/

/*#bg_blog .carousel-indicators > li {*/
/*list-style-type: none;*/
/*}*/

.caption_blog {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50%;
    font-family: AvenirRoman, sans-serif;
}

.caption_blog > h3 {
    font-family: NunitoBold, sans-serif;
    margin-bottom: 0;
}

.caption_blog > strong {
    font-family: NunitoRegular, sans-serif;
}

.caption_blog .logo-inline {
    margin: 15px 0 0;
}

.caption_blog a, .caption_blog a:hover {
    color: #fd6702;
}

.caption_blog .product-image-inline > img {
    max-width: 150px;
    display: inline;
    margin: 10px 10px 0 0;
}

.caption_blog .btn-lihat-produk, .caption_blog .btn-lihat-produk:hover {
    border: 2px solid #fd6702;
    margin: 15px 0;
    padding: 5px 25px;
    color: #fd6702;
}

.caption_blog > .address {
    font-family: NunitoRegular, sans-serif;
}

#gratis {
    background-color: #fd6702;
    padding: 15px;
    color: #ffffff;
    font-family: "Avenir Next LT Pro", sans-serif;
}

#gratis > .container {
    padding-top: 50px;
}

#gratis .gratis-header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    max-width: 650px;
    margin: 0 auto;
    border: 1px solid #ffffff;
}

#gratis .gratis-header > h3 {
    margin-top: 30px;
    margin-bottom: -10px;
    font-size: 30pt;
    font-weight: 600;
}

#gratis .gratis-header > p {
    position: relative;
    max-width: 410px;
    margin: 0 auto;
    bottom: -30px;
    background-color: #fd6702;
    text-transform: none;
    letter-spacing: normal;
    text-align: center;
}

.list-inline {
    text-align: center;
    margin: 30px 0;
}

.list-inline > .btn-orange {
    background-color: transparent !important;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border: 1px solid #ffffff;
}

.list-inline > .btn-white {
    background-color: #ffffff !important;
    border-radius: 20px;
    font-weight: bold;
    padding: 8px 30px;
    color: #fd6702;
    border: 1px solid #ffffff;
}

#bottom {
    font-family: "Avenir Next LT Pro", sans-serif;
}

#bottom h4 > img {
    width: 40px;
    margin-right: 10px;
}

#bottom h4 > span {
    font-weight: 600;
    line-height: 45px;
}

.home-gabung, .home-gabung:hover {
    margin: 0 auto;
    display: block;
    color: #fd6702;
    border: 2px solid #fd6702;
    width: 150px;
    font-weight: 600;
    border-radius: 10px;
}

.border-right {
    padding-bottom: 15px;
}

ul.bullet > li {
    list-style: url("../images/homepage/bullet.png");
}

ul.rectangle > li {
    list-style: url("../images/homepage/rectangle.png");
}

.owl-brand .item > .box {
    border-right: 1px solid #ccc;
}

@media screen and (min-width: 1199px) {
    #bottom {
        display: -webkit-box;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #bottom {
        display: -webkit-box;
    }

    #promo .owl-controls {
        margin-top: -150px;
    }

    #promo {
        padding-bottom: 75px;
    }

    #brand .owl-controls {
        margin-top: -65px;
    }

    .brand-bottom {
        margin-top: 64px;
    }

    #product .owl-controls {
        margin-top: -205px;
    }

    #product {
        padding-bottom: 130px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .border-right {
        min-height: 170px;
    }

    .nav > li > a {
        padding: 15px 3px;
    }

    .small > .box {
        height: 200px;
    }

    .big > .box, .small > .box {
        margin-bottom: -1px;
    }

    #promo .owl-controls {
        margin-top: -150px;
    }

    #promo {
        padding-bottom: 70px;
    }

    #brand .owl-controls {
        margin-top: -90px;
    }

    .brand-bottom {
        margin-right: 1px;
        margin-top: 89px;
    }

    #product .owl-controls {
        margin-top: -275px;
    }

    #slider-marketing {
        margin: 125px 0 -15px;
    }

    .caption-image > img {
        min-height: 435px;
    }
}

@media screen and (max-width: 767px) {
    .home-gabung, .home-gabung:hover {
        margin-bottom: 30px;
    }

    .social-list > .social {
        display: block;
        padding-right: 5px;
        padding-top: 5px;
    }

    .caption_blog {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px;
    }

    .xs-inline {
        display: inline !important;
    }

    #bg_blog {
        top: 0;
        margin: 15px 0;
    }

    #product {
        padding-bottom: 30px;
    }

    .big > .box, .small > .box {
        height: 200px;
        margin-bottom: -1px;
    }

    .brand-bottom {
        margin-right: 1px;
    }

    #product .owl-controls {
        margin-top: -170px;
    }

    .item-banner {
        margin: 0 0 15px 0;
    }

    #bottom {
        padding: 30px 25px;
    }

    #bottom > .col-md-3 {
        border: 1px solid #ccc;
        margin-bottom: -1px;
    }

    .carousel-indicators {
        background-color: #fd6702;
        background-size: cover;
        display: block;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-left-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomleft: 15px;
        -moz-border-radius-bottomright: 15px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 90px;
        bottom: 0;
        width: 100%;
        float: none;
        left: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding: 10px 0;
        position: relative;
    }

    .list-group-item > span {
        vertical-align: super;
        font-size: 11px;
    }

    .list-group-item > i {
        width: 20px !important;
        font-size: 15px;
    }

    h3, .category-style > .count.first {
        font-size: 20px;
    }
}