@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?od9ok6');
    src: url('../fonts/icomoon.eot?od9ok6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?od9ok6') format('truetype'),
    url('../fonts/icomoon.woff?od9ok6') format('woff'),
    url('../fonts/icomoon.svg?od9ok6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chart-up:before {
    content: "\e900";
    padding-right: 11px;
}

.icon-shipping-box:before {
    content: "\e901";
    font-size: 2em;
    line-height: 36px;
}

.icon-shop-default:before {
    content: "\e901";
    padding-right: 3px;
}

.icon-shop:before {
    content: "\e902";
    font-size: 2em;
}

.icon-magnifier-10:before {
    content: "\e903";
    font-size: 24px;
    color: #ff6600;
    line-height: 36px;
}

.icon-user-circle:before {
    content: "\e904";
    padding-right: 9px;
}

.icon-user-group:before {
    content: "\e905";
    padding-right: 9px;
}

.icon-tag:before {
    content: "\e906";
    padding-right: 9px;
}

.icon-tag-sorting:before {
    content: "\e906";
    font-size: 25px;
}

.icon-icon-paint:before {
    content: "\e907";
}

.icon-tag:before {
    content: "\e906";
}

.icon-icon-paint:before {
    content: "\e907";
}

.icon-elektronik:before {
    content: "\e908";
}

.icon-hadiah:before {
    content: "\e909";
}

.icon-kesehatan:before {
    content: "\e90a";
}

.icon-logam:before {
    content: "\e90b";
}

.icon-mesin:before {
    content: "\e90c";
}

.icon-otomotif:before {
    content: "\e90d";
}

.icon-packaging:before {
    content: "\e90e";
}

.icon-pakaian:before {
    content: "\e90f";
}

.icon-peralatan:before {
    content: "\e910";
}

.icon-pertanian:before {
    content: "\e911";
}

.icon-tas:before {
    content: "\e912";
}

.icon-wall:before {
    content: "\e913";
}

.lh38:before {
    line-height: 38px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
