.container-body {
    max-width: 98%;
}

.product-body .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-body .favorite.active {
    color: #ff0000;
}

input[type="checkbox"],
input[type="radio"] {
    margin-left: 0 !important;
    opacity: 0;
}

input[type="checkbox"].custom-checkbox + label {
    padding: 0 0 5px 25px;
    display: inline-block;
    background: url(../images/checkbox.png) left top no-repeat;
}

input[type="radio"].custom-checkbox + label {
    padding: 0 0 5px 25px;
    margin-left: -15px;
    display: inline-block;
    background: url(../images/checkbox.png) left top no-repeat;
}

input[type="checkbox"].custom-checkbox:checked + label,
input[type="radio"].custom-checkbox:checked + label {
    color: #ff0000;
    background: url(../images/checkbox-active.png) left top no-repeat;
}

.input-group-addon {
    margin-left: -1px;
}

