@font-face {
    font-family: 'YanoneKaffeesatzRegular';

    src: url("../fonts/YanoneKaffeesatz-Regular.ttf"),
    url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff'),
    url('../fonts/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'YanoneKaffeesatzBold';

    src: url("../fonts/YanoneKaffeesatz-Bold.ttf"),
    url('../fonts/YanoneKaffeesatz-Bold.woff') format('woff'),
    url('../fonts/YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'ProximaNovaSemibold';

    src: url("../fonts/ProximaNova-Semibold.ttf"),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'ProximaNovaLight';

    src: url("../fonts/ProximaNova-Light.ttf"),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'ProximaNovaRegular';

    src: url("../fonts/ProximaNova-Regular.ttf"),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'NunitoRegular';

    src: url("../fonts/Nunito-Regular.ttf"),
    url('../fonts/Nunito-Regular.woff') format('woff'),
    url('../fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'NunitoLight';

    src: url("../fonts/Nunito-Light.ttf"),
    url('../fonts/Nunito-Light.woff') format('woff'),
    url('../fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'NunitoBold';

    src: url("../fonts/Nunito-Bold.ttf"),
    url('../fonts/Nunito-Bold.woff') format('woff'),
    url('../fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'SegoiUiRegular';

    src: url("../fonts/SegoeUI.ttf"),
    url('../fonts/SegoeUI.woff') format('woff'),
    url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'SegoiUiSemibold';

    src: url("../fonts/SegoeUI-SemiBold.ttf"),
    url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
    url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'SegoiUiBold';

    src: url("../fonts/SegoeUI-Bold.ttf"),
    url('../fonts/SegoeUI-Bold.woff') format('woff'),
    url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'AvenirRoman';

    src: url("../fonts/AvenirLTStd-Roman.ttf"),
    url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
    url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'AvenirNextDemi';

    src: url("../fonts/AvenirNextLTPro-Demi.ttf"),
    url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'AvenirNextRegular';

    src: url("../fonts/AvenirNextLTPro-Regular.ttf"),
    url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'AvenirNextBold';

    src: url("../fonts/AvenirNextLTPro-Bold.ttf"),
    url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

@font-face {
    font-family: 'Geneva';

    src: url("../fonts/Geneva.ttf"),
    url('../fonts/Geneva.woff') format('woff'),
    url('../fonts/Geneva.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

html, body {
    overflow-x: hidden;
}

input[type=password] {
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent !important;
}

input[type=password].edit {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: #fff !important;
}

.input-group-addon.password {
    background: none;
    border: none;
}

.input-group-addon > a, .input-group-addon > a:hover {
    color: #ff6600;
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #FFFFFF;
    border: none;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(145, 140, 145, 0.75);
    -moz-box-shadow: 0px 1px 15px 0px rgba(145, 140, 145, 0.75);
    box-shadow: 0px 1px 15px 0px rgba(145, 140, 145, 0.75);
    height: 60px;
    line-height: 40px;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a {
    color: #000000;
    line-height: 30px;
    font-family: 'NunitoRegular', sans-serif;
}

.logo {
    max-width: 80px;
}

.navbar-form .form-control.search-nav, .search-nav:focus {
    box-shadow: none;
    border-color: #f05510;
    width: 300px;
    border-right: none;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -5px;
    font-family: 'NunitoLight', sans-serif;
}

.btn-search-nav, .btn-search-nav:hover {
    border-color: #f05510;
    background-color: transparent;
    border-left: none;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 1px;
}

.btn-orange, .btn-orange:hover {
    background-color: #f05510 !important;
    line-height: 35px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 12px;
    border-radius: 10px;
    color: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #f05510;
}

#content {
    background-color: #ebebeb;
    padding-top: 20px;
}

.breadcrumb {
    background-color: transparent;
    font-family: 'NunitoBold', sans-serif;
}

.breadcrumb > li > a {
    color: #f05510;
}

a:hover {
    color: #23527c;
    text-decoration: none;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #f05510;
    content: ">>";
}

.breadcrumb > .active {
    color: #000;
}

.container-body {
    max-width: 80%;
    margin: 0 auto;
}

.none-hover:hover {
    background-color: transparent;
    border-color: #ccc;
}

.toolbar-sorting .left-search > .none-hover {
    font-family: 'ProximaNovaSemibold', sans-serif;
    padding: 15px 15px;
}

.toolbar-sorting .input-group > input {
    padding: 25px 15px;
    margin-left: -1px;
}

.toolbar-sorting .right-search > .none-hover {
    font-family: 'ProximaNovaSemibold', sans-serif;
    padding: 7px 15px;
    margin-left: -2px;
}

.toolbar-sorting h1 {
    font-family: NunitoBold, sans-serif;
}

.input-group-addon {
    padding: 7px 12px;
}

.group-sorting > span {
    background-color: #ffffff;
}

.group-sorting > .input-group-addon > span {
    margin-left: 20px;
}

.group-sorting input[type="radio"]:checked + i {
    color: #ff6600;
}

input[type=radio]:not(old) {
    padding: 0;
    opacity: 0;
    vertical-align: super;
}

.input-group-addon input[type=radio]:not(old) + i {
    margin-left: -18px;
    padding-top: 3px;
    padding-left: 28px;
    background: url('../images/ellipse.png') no-repeat;
}

.input-group-addon input[type=radio]:checked + i {
    background: url('../images/ellipse-selected.png') no-repeat;
}

.container-product {
    margin: 50px -15px;
}

.product {
    min-height: 345px;
}

.product > .product-header {
    background-color: #ffffff;
    border-radius: 5px;
}

.product > .product-header > img {
    margin: 0 auto;
    padding: 10px 0 30px 0;
    height: 265px;
}

.product-body {
    height: 5px;
}

.product-body > label.new {
    background-color: #0bc08b;
    position: absolute;
    top: 10px;
    left: 25px;
    color: #ffffff;
    font-family: 'YanoneKaffeesatzRegular', sans-serif;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
}

.product-body > label.discount {
    background-color: #f80000;
    position: absolute;
    top: 10px;
    left: 25px;
    color: #ffffff;
    font-family: 'YanoneKaffeesatzRegular', sans-serif;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
}

.product-body > .btn-edit {
    font-size: 20px;
    background: #ff6600;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 25px;
}

.product-body > .btn-delete {
    font-size: 20px;
    background: #a1a1a1;
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: 25px;
}

.product-body > .background-name {
    background-color: #ffffff;
    position: absolute;
    border-radius: 5px;
    padding: 10px 10px 0;
    top: 200px;
    width: 75%;
    left: 12.5%;
    font-family: 'ProximaNovaRegular', sans-serif;
    font-size: 16px;
}

.product-footer {
    line-height: 10px;
    margin-top: 15px;
    text-align: center;
    font-family: 'ProximaNovaRegular', sans-serif;
    font-size: 16px;
}

.product-discount {
    text-decoration: line-through;
    color: #666666;
}

.background-name > a {
    color: #cccccc;
    font-size: 22px;
}

.background-name > a.active {
    color: #ff0000;
}

.btn-load-more, .btn-load-more:hover {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 30px !important;
    border-radius: 5px !important;
    margin-bottom: 50px;
}

.profile {
    font-family: "Avenir Next", sans-serif;
    margin: 15px 0;
}

.profile > .profile-header {
    background-color: #0097cf;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.profile > .profile-header > p {
    max-width: 200px;
    margin: 0 auto;
}

.profile > .profile-body {
    padding: 10px;
    background-color: #ffffff;
}

.profile > .profile-body > .media > div > p {
    max-width: 120px;
}

.profile > .profile-body > .media > div > .favorite {
    position: absolute;
    top: 0;
    right: 5px;
}

.profile > .profile-footer {
    text-align: center;
    padding: 20px 10px 10px;
    background-color: #e1e1e1;
}

.profile > .profile-footer > .social > a {
    background-color: #ff6600;
    color: #ffffff;
    margin: 0 5px;
    border-radius: 50%;
}

.profile > .profile-footer > .phone {
    color: #ff6600;
    margin: 20px 10px 5px;
    font-family: NunitoBold, sans-serif;
    font-size: 20px;
}

.profile > .profile-footer > .social > a.fb {
    padding: 5px 11px;
}

.profile > .profile-footer > .social > a.ig {
    padding: 5px 9px;
}

.profile > .profile-footer > .social > a.in {
    padding: 5px 9px;
}

.profile > .profile-footer > .social > a.tw {
    padding: 5px 9px;
}

.profile > .profile-body > .media > div > .favorite.active {
    color: #ff0000;
}

.media-search > .caption-media-search {
    max-width: 96.7%;
    position: absolute;
    top: 40%;
    padding: 0 20%;
}

.text-white {
    color: #ffffff !important;
}

.caption-media-search,
.caption-media-search .input-group {
    width: 100%;
}

.caption-media-search > div > i {
    margin: 10px 0;
}

.caption-media-search input {
    border-radius: 20px !important;
    width: 100%;
    padding-right: 85px;
    height: 40px;
}

input[type=file], input[type=file]:focus, input[type=file]:visited {
    width: 100px !important;
    outline: none;
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Cari';
    text-align: center;
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}

.btn-custom-file-input::before {
    content: 'Atau upload manual';
    display: inline-block;
    background: #ebebeb;
    border: 1px solid #fc7c3c;
    color: #fc7c3c;
    border-radius: 5px;
    padding: 7px 15px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}

.foto-upload {
    display: -webkit-box;
}

.tambah-foto {
    border: 1px solid #ccc;
    background: #e1e1e1;
    margin: 0 15px;
    padding: 10px 5px 0;
    border-radius: 5px;
}

.tambah-foto > p {
    max-width: 65px;
    line-height: 12px;
    font-size: 12px;
}

.tambah-foto > input.visibility {
    width: 75px !important;
    height: 73px !important;
    position: absolute;
    opacity: 0;
    margin: -10px -5px;
    outline: none;
    z-index: 9999;
}

.upload-manual, .upload-manual:hover {
    background: #ebebeb;
    border: 1px solid #fc7c3c;
    color: #fc7c3c;
    border-radius: 5px;
    padding: 7px 15px;
    cursor: pointer;
}

.btn-custom-file-input::-webkit-file-upload-button,
.btn-custom-file-input::-webkit-keygen-select,
.custom-file-input::-webkit-file-upload-button,
.custom-file-input::-webkit-keygen-select {
    visibility: hidden;
}

.media-search-form {
    margin: 40px 0;
    font-family: "Open Sans", sans-serif;
}

.media-search-form label {
    text-align: right;
    line-height: 40px;
    vertical-align: middle;
}

.media-search-form input {
    border-radius: 20px;
    height: 40px;
}

.media-search-form textarea {
    border-radius: 20px;
}

.media-search-form > .form-group {
    display: flex;
}

.media-search-form span {
    background: #000000;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 16px;
}

.media-search-form span.ig {
    padding: 5px 9px;
}

.media-search-form span.fb {
    padding: 5px 11px;
}

.tokoku {
    margin: 30px 0;
    font-family: "Open Sans", sans-serif;
}

.media-body span {
    background: #000000;
    color: #ffffff;
    border-radius: 50%;
}

.media-body i {
    font-size: 20px;
}

form > .form-group span.note {
    color: #f80000;
}

.label-info {
    background-color: #007aff;
    display: inline;
    padding: 8px 3px;
    font-size: 75%;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 20px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    background: #3595fb;
    padding: 5px;
    border-radius: 20px;
}

.myLabel > span,
.myLabel > span:hover {
    position: absolute;
    border: none;
    z-index: 2;
    right: 0;
    top: 0;
    padding: 6px 39px;
    margin: 4px 5px;
    border-radius: 20px !important;
    background: #ff6600;
    color: #ffffff;
    height: 32px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0 20px 0;
    font-family: 'ProximaNovaLight', sans-serif;
}

footer p {
    font-family: 'ProximaNovaSemibold', sans-serif;
    font-size: 18px;
}

footer .footer-border {
    border: 1px solid #ffffff;
    padding: 40px 25px;
}

footer ul {
    -webkit-padding-start: 0;
    padding-left: 0;
}

footer ul > li {
    list-style: none;
    color: #525252;
}

footer ul > li > a {
    color: #525252;
    cursor: pointer;
}

footer ul > li > a:hover {
    color: #ffffff;
}

footer ul.big > li {
    color: #ffffff;
    font-family: 'ProximaNovaSemibold', sans-serif;
    font-size: 24px;
}

footer .footer-bottom {
    padding: 35px 0 10px;
    color: #525252;
}

.form-horizontal {
    font-family: Avenir, sans-serif;
}

.form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
}

@media screen and (max-width: 1200px) {
    .navbar-form .form-control.search-nav, .search-nav:focus {
        width: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
    }

    .container-body {
        max-width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .navbar-form .form-group {
        display: inline-block;
    }

    .btn-search-nav, .btn-search-nav:hover {
        margin-top: -2px;
    }

    .product > .product-header > img {
        height: 230px;
    }

    .product {
        min-height: 300px;
    }

    .product-body > .background-name {
        top: 189px;
    }

    nav.sidebar.navbar {
        height: 100%;
        z-index: 99;
        right: auto !important;
        position: relative !important;
        top: -19px !important;
        border-radius: 0;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
        border-color: #e7e7e7;
        background: #fff;
        z-index: 9999;
        width: 100%;
        position: absolute;
    }

    .navbar-form .form-control.search-nav,
    .search-nav:focus {
        width: 250px;
    }

    .navbar-nav {
        margin: 60px -15px;
    }

    .btn-load-more, .btn-load-more:hover {
        font-size: 14px;
        float: none !important;
    }

    .btn-tambah-product {
        float: none !important;
    }

    .media-search-form > .form-group {
        display: block;
    }

    .fa-4x {
        font-size: 2em;
    }

    .media-search > .caption-media-search {
        max-width: 93%;
        padding: 0 10%;
    }

    .left-xs {
        text-align: left;
    }
}

.list-inline {
    padding: 15px;
    background-color: #ff6600;
    margin-left: 0;
}

.edit-button, .edit-button:hover {
    color: #ff6600;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
}

.sidebar .navbar-brand {
    padding: 12px;
    display: inline;
    float: none;
    color: #ffffff;
}

.sidebar .navbar-nav > li > a {
    color: #ffffff;
    padding-right: 35px;
    font-family: "AvenirRoman", sans-serif;
    font-size: 14px;
}

.navbar-brand > i,
.sidebar .navbar-nav > li > a > i {
    width: 29px;
    font-size: 20px;
}

ul.child > li > a > span {
    padding-left: 7px;
}

.navbar-inverse {
    background-color: #000;
    border: none;
}

/*nav.sidebar .navbar-nav > li:first-child {*/
/*border-top: none !important;*/
/*}*/

nav.sidebar .navbar-nav > li {
    border-bottom: none !important;
    margin: 5px 0;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #fff;
    background-color: #333;
}

nav.sidebar.navbar {
    height: 100%;
    /*display: table;*/
    z-index: 99;
    right: 0;
    position: fixed;
    top: 60px;
    border-radius: 0;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.open-nav {
    margin-right: 0 !important;
}

/* Add gap to nav and right windows.*/
.main {
    padding: 10px 10px 0 10px;
}

.border-right {
    border-right: 1px solid #ccc !important;
}

.btn-tambah-product, .btn-tambah-product:hover {
    border: 2px solid #ff6600;
    background: transparent;
    color: #ff6600;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-family: AvenirRoman, sans-serif;
}

.sub-header {
    margin-top: 30px;
}

.sub-header > div > p {
    font-family: AvenirRoman, sans-serif;
    font-size: 16px;
}

.note {
    padding: 20px;
}

.note > p.text-danger {
    color: #d9534f;
    margin: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #000;
}

.owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.list-group-item {
    font-family: ProximaNovaRegular, sans-serif;
}

.panel-white {
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 800px;
    padding: 20px;
    color: #000000;
    margin-bottom: 50px;
}

.panel-white p {
    font-family: "Avenir Next LT Pro", sans-serif;
    margin-top: 10px;
    font-size: 14px;
}

.panel-white h4 {
    font-family: ProximaNovaSemibold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.panel-white strong {
    font-family: ProximaNovaSemibold, sans-serif;
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
    display: block;
}

.panel-white .input-group {
    display: block;
}

.panel-white .input-group > input {
    border: 2px solid #fd6702;
    border-radius: 15px !important;
    height: 40px;
    padding-right: 100px;
}

.panel-white .input-group > span {
    width: 100px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 3px;
    z-index: 9;
    padding: 5px;
}

.panel-white .input-group > span > button {
    padding: 4px 10px;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    border-radius: 12px;
}

.panel-white p.social {
    font-size: 16px;
}

.social-list > .social {
    display: inline;
    padding-right: 5px;
}

.btn-daftar {
    background-color: #fd6702;
    color: #ffffff;
    text-transform: uppercase;
    font-family: YanoneKaffeesatzRegular, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

footer > .panel-white {
    position: relative;
    margin-top: -150px;
}

.input-group-addon > h4 {
    font-family: NunitoRegular, sans-serif;
}

.no-bg {
    background: transparent;
    border: none;
}

.my-popup {
    max-height: 250px;
    overflow-y: auto;
    min-width: 150px;
}

.btn-cari, .btn-cari:hover {
    background: #a1a1a1;
    color: #ffffff;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Center Brand*/
    nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-right: 0;
    }

    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    /*Center Icons*/
    nav.sidebar a {
        padding-right: 13px;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0;
    }

    /*gives sidebar width/height*/
    nav.sidebar {
        width: 235px;
        height: 100%;
        margin-right: -186px;
        float: right;
        margin-bottom: 0;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

ul.child {
    list-style: none;
}

ul.child > li {
    padding: 5px 2px;
}

ul.child > li > a {
    color: #ffffff;
}

@media screen and (max-width: 767px ) {
    .navbar-toggle {
        margin-left: 15px;
        border-color: #ffffff !important;
    }

    .list-inline {
        padding: 15px;
    }

    .center-xs {
        text-align: -webkit-center;
    }

    .foto-upload {
        display: inline-block;
    }

    .tambah-foto {
        float: left;
        margin: 20px 15px 0;
    }

    .container-body {
        max-width: 100%;
    }

    footer .footer-border {
        margin: 0 40px;
    }
}
