.container-body {
    max-width: 98%;
}

.product-body .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-body .favorite.active {
    color: #ff0000;
}

.product-body > label.new {
    background-color: #f80000;
    top: 100px;
    right: 25px;
    left: auto;
    font-size: 16px;
}

.product > .product-header > img {
    margin: 0 auto;
    padding: 0 0 50px 0;
    height: auto;
}

.product-body > .image-cover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 15px 0px rgba(204, 204, 204, 1);
    position: absolute;
    left: 35px;
    top: 90px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.product-body > .image-cover > img {
    margin: 0 auto;
    padding: 10% 0;
}

.product-body .favorite.active {
    color: #ff0000;
    width: 35px;
    height: 30px;
    background: #fff;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    font-size: 18px;
    right: 25px;
}

.product-footer {
    text-align: left;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 15px;
}

.product-footer > .toko-nama {
    line-height: 0;
    font-family: 'ProximaNovaSemibold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="checkbox"],
input[type="radio"] {
    margin-left: 0 !important;
    opacity: 0;
}

input[type="checkbox"].custom-checkbox + label {
    padding: 0 0 5px 25px;
    display: inline-block;
    background: url(../images/checkbox.png) left top no-repeat;
}

input[type="radio"].custom-checkbox + label {
    padding: 0 0 5px 25px;
    margin-left: -15px;
    display: inline-block;
    background: url(../images/checkbox.png) left top no-repeat;
}

input[type="checkbox"].custom-checkbox:checked + label,
input[type="radio"].custom-checkbox:checked + label {
    color: #ff0000;
    background: url(../images/checkbox-active.png) left top no-repeat;
}

.input-group-addon {
    margin-left: -1px;
}

@media screen and (min-width: 922px) and (max-width: 1199px) {
    .product-body > .image-cover {
        left: 30px;
        top: 80px;
        width: 85px;
        height: 85px;
    }

    .product-body > .image-cover > img {
        max-width: 70%;
    }
}